<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                My Apps
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="//ogadit.github.io">About</a></li>
        </ul>
      
    </div>
</nav>