ul {
  list-style: none;
}
.entire-page-center{
  padding-top: 50px;
}
.text-lg {
  font-size: 6em;
}
#clock {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
